<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Taco Cloud</title>
<!-- 
Thymeleaf templates are just HTML with some additional element attributes that guide a
template in rendering request data. For example, if there were a request attribute whose key is
"message" , and you wanted it to be rendered into an HTML <p> tag by Thymeleaf, you’d write
the following in your Thymeleaf template:
	
	<p th:text="${message}">placeholder message</p>

When the template is rendered into HTML, the body of the <p> element will be replaced with the
value of the servlet request attribute whose key is "message" . The th:text attribute is a
Thymeleaf-namespaced attribute that performs the replacement. 

The ${} operator tells it to use the value of a request attribute ( "message" , in this case). 
-->
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
	
	
	<form method="POST" th:object="${student}">
		<h1>Add the marks for <span th:text="${student.name}">Student</span></h1> <br />
		<div class="grid">
			<h3>Semester 1:</h3>
			<div th:each="mark : ${semester1}">
				<span th:text="${mark.subject}">Mark</span><br />
				<input type="text" th:field="*{markValue}" /> <br />
			</div>
		</div>
		<div class="grid">
			<h3>Semester 2:</h3>
			<div th:each="mark : ${semester2}">
				<span th:text="${mark.subject}">Mark</span><br />
				<input type="text" th:field="*{markValue}" /> <br />
			</div>
		</div>
	</form>
</body>
</html>